html {
  /* Set Font & Global Font Size */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: var(--text-font-size);

  /* Global Variables */
  --title-font-size: 24px;
  --text-font-size: 18px;
}

body {
  /* Remove Default Margin */
  margin: 0;
}
