html {
  /* Set Font & Global Font Size */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: var(--text-font-size);

  /* Background Image */
  background-image: url('./Assets/spiral-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  /* Global Variables */
  --title-font-size: 24px;
  --text-font-size: 18px;
}

body {
  /* Remove Default Margin */
  margin: 0;
}

/* Custom Border */
.custom-border-1 {
  border-radius: 0.8px;
  box-shadow: 
    0 0 0 2px rgb(88,65,23),
    0 0 0 2.5px black,
    0 0 0 6px #AA7F30,
    0 0 0 6.5px black,
    0 0 0 10px #6B1114,
    0 0 0 10.5px black,
    0 0 0 14px #AA7F30,
    0 0 0 15px black;
}