/* Blacksmith Component */
#blacksmith {
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
  color: #F6F741;
  padding: 30px;
  overflow-y: auto;
}

/* Blacksmith Title */
#blacksmith-title {
  font-size: 30px;
  padding-top: 2px;
  color: black;
  font-weight: 1000;
  text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
  letter-spacing: 0.5px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

#blacksmith-title-background {
  background-image: url('../../Assets/title-banner.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -65px;
  z-index: 3;
  position: relative;
}

#blacksmith-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  width: 1000px;
  height: 635px;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  background-image: url('../../Assets/book.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Character Slots */
#blacksmith-wizard-slot-list {
  width: 340px;
  height: 500px;
  background-image: url('../../Assets/star-background-2.jpg'); 
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.blacksmith-wizard-slot-shading {
  background-color: #000000be;
  width: 340px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.blacksmith-wizard-slot-header {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 7px;
  background-color: #42111e;
}

#blacksmith-wizard-slot-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  mask-image: linear-gradient(to bottom, transparent 0%, black 20px, black calc(100% - 20px), transparent 100%);
  max-height: 415px;
  align-items: center;
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Character Slots */
.blacksmith-wizard-slot-character-valid {
  width: 90%;
  height: 30px;
  border-radius: 25px;
  line-height: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  flex-direction: row;
}

.blacksmith-wizard-slot-character-valid:hover {
  transform: scale(1.05);
}

.blacksmith-wizard-slot-character-valid:active {
  transform: scale(1.0);
  filter: brightness(120%);
}

/* Placeholders */
.blacksmith-wizard-slot-character-empty {
  width: 90%;
  height: 30px;
  border-radius: 25px;
  line-height: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  flex-direction: row;
  opacity: 0.8;
}

.blacksmith-wizard-slot-character-empty:hover {
  transform: scale(1.05);
}

.blacksmith-wizard-slot-character-empty:active {
  transform: scale(1.0);
  filter: brightness(120%);
}

.active-wizard-slot-spiral {
  background-image: url('../../Assets/spiral-icon.png');
  margin-left: -30px;
  margin-right: 15px;
  border-radius: 50%;
}

.blacksmith-wizard-slot-character-name-empty {
  max-width: 195px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Character Names */
.blacksmith-wizard-slot-character-name {
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.blacksmith-wizard-slot-school-icon {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* School Icons */
.active-wizard-slot-storm {
  background-image: url('../../Assets/storm-icon.png');
  margin-left: -30px;
  margin-right: 15px;
}

.active-wizard-slot-ice {
  background-image: url('../../Assets/ice-icon.png');
  margin-left: -30px;
  margin-right: 15px;
}

.active-wizard-slot-fire {
  background-image: url('../../Assets/fire-icon.png');
  margin-left: -30px;
  margin-right: 15px;
}

.active-wizard-slot-death {
  background-image: url('../../Assets/death-icon.png');
  margin-left: -30px;
  margin-right: 15px;
}

.active-wizard-slot-balance {
  background-image: url('../../Assets/balance-icon.png');
  margin-left: -30px;
  margin-right: 15px;
}

.active-wizard-slot-life {
  background-image: url('../../Assets/life-icon.png');
  margin-left: -30px;
  margin-right: 15px;
}

.active-wizard-slot-myth {
  background-image: url('../../Assets/myth-icon.png');
  margin-left: -30px;
  margin-right: 15px;
}

/* Character slot creator */
#blacksmith-wizard-slot-creator {
  width: 340px;
  height: 500px;
  border-radius: 10px;
  background-color: #42111e;
  padding: 20px;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.blacksmith-wizard-editor-header {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  padding: 7px;
  border-radius: 10px;
  background-color: #220808;
}

/* Name */
.blacksmith-wizard-editor-name-container {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 40px;
}

#blacksmith-wizard-editor-name-label {
  line-height: 20px;
}

#blacksmith-wizard-editor-name-input {
  background-color: rgba(0, 0, 0, 0.397);
  border: none;
  text-transform: uppercase;
  border-radius: 20px;
  width: 180px;
  height: 30px;
  outline-width: 0;
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: url('../../Assets/cursor-small.png'), auto;
  caret-color: white;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 1000;
  font-size: 16px;
}

/* School */
#blacksmith-wizard-editor-school-selector {
  display: flex;
  flex-direction: row;
  width: 210px;
  border-radius: 20px;
  margin-left: 10px;
  background-color: #300b0b;
}

#blacksmith-wizard-editor-school-selector:hover .blacksmith-wizard-editor-school-icon {
  opacity: 0.8;
}

.blacksmith-wizard-editor-school-icon {
  opacity: 0.5;
  margin: 0px;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 300ms ease;
}

.blacksmith-wizard-editor-school-icon:hover {
  transform: scale(1.05);
}

.blacksmith-wizard-editor-school-icon:active {
  transform: scale(1.0);
  filter: brightness(110%);
}

.current-slot-school {
  opacity: 1;
  margin: 0px;
  -webkit-filter: drop-shadow(0px 12px 3px rgb(255, 219, 58));
  filter: drop-shadow(0px 0px 3px rgb(255, 219, 58));
}

/* Level Input */
#blacksmith-wizard-editor-level-input {
  background-color: rgba(0, 0, 0, 0.397);
  border: none;
  text-transform: uppercase;
  border-radius: 20px;
  width: 50px;
  text-align: center;
  height: 30px;
  outline-width: 0;
  margin-left: 20px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: url('../../Assets/cursor-small.png'), auto;
  caret-color: white;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 1000;
  font-size: 16px;
}

#wizard-editor-level-increase {
  height: 40px;
  width: 40px;
  rotate: 180deg;
  margin-left: 10px;
}

#wizard-editor-level-decrease {
  height: 40px;
  width: 40px;
}

#wizard-editor-level-decrease:hover, #wizard-editor-level-increase:hover {
  transform: scale(1.08);
}

#wizard-editor-level-decrease:active, #wizard-editor-level-increase:active {
  transform: scale(1.0);
  filter: brightness(120%);
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
/* Save Button */
.blacksmith-wizard-editor-save-button {
  background-image: url('../../Assets/button-medium.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 33px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  line-height: 33px;
  text-align: center;
  box-sizing: border-box;
  filter: grayscale(1);
}

.editor-save-button-valid {
  filter: grayscale(0);
}

.editor-save-button-valid:hover {
  transform: scale(1.08);
}

.editor-save-button-valid {
  transform: scale(1.0);
  filter: brightness(120%); 
}

/* Backpack Button */
#blacksmith-wizard-editor-button-inactive {
  height: 60px;
  width: 60px;
  margin-top: 40px;
  margin-left: 120px;
  filter: grayscale(0.6);
  cursor: url('../../Assets/no-target-cursor-small.png'), auto;
}

#blacksmith-wizard-editor-button-active {
  height: 60px;
  width: 60px;
  margin-top: 40px;
  margin-left: 120px;
  -webkit-filter: drop-shadow(0px 12px 7px rgb(255, 219, 58));
  filter: drop-shadow(0px 0px 7px rgb(255, 219, 58));
}

#blacksmith-wizard-editor-button-active:hover {
  transform: scale(1.10);
}

#blacksmith-wizard-editor-button-active:active {
  transform: scale(1.0);
}