/* Navigation Component */
#navigation {
  font-size: var(--text-font-size);
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.774);
  color: #F6F741;
  position: sticky;
  margin: 7.5px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#navigation-bar-container {
  z-index: 3;
  position: sticky;
  top: 0px;
}

/* Class for active headers */
.active {
  color: #a3a314;
}

/* Navigation Logo & Title Container */
#navigation-website-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

/* Navigation Logo */
#placeholder-website-icon {
  background-image: url('../../Assets/Jewels/circle-socket.png');
  height: 54px;
  width: 54px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

#navigation-website-icon {
  height: 54px;
  width: 54px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  z-index: 2;
}

/* Website Title */
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

#navigation-website-title {
  font-family: "Sedan SC", serif;
  font-size: 28px;
  font-weight: 900;
  background-clip: text;
  -webkit-text-stroke: 1px transparent;
}

#navigation-website-title:hover {
  color: #a3a314;
}

/* Navigation Headers */
#navigation-header-section {
  gap: 40px;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.navigation-header-container:hover {
  color: #a3a314;
}

/* Individual header containers */
.navigation-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Icons for each header */
.navigation-header-container:hover #navigation-backpack-icon {
  animation: glowPurple 1s infinite alternate;
}

.navigation-header-container:hover #navigation-gardening-icon {
  animation: glowGreen 1s infinite alternate;
}

.navigation-header-container:hover #navigation-guides-icon {
  animation: glowYellow 1s infinite alternate;
}

.navigation-header-container:hover #navigation-login-icon {
  animation: glowBlue 1s infinite alternate;
}

.navigation-header-container:hover #navigation-logout-icon {
  animation: glowRed 1s infinite alternate;
}

.navigation-icon-user:hover {
  cursor: url('../../Assets/Cursors/picker-small.png'), auto;
  color: rgb(180, 180, 180);
}

.navigation-icon-user {
  color: white;
}

.navigation-header-container img {
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Footer */
#footer {
  font-size: var(--text-font-size);
  display: flex;
  width: calc(100% - 50px);
  align-items: center;
  margin: 25px;
  margin-top: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.774);
  color: #F6F741;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#footer-content {
  margin-left: auto;
  margin-right: auto;
}

/* Logo Icons */
.home-icon {
  background-image: url('../../Assets/Jewels/circle-socket.png');
}

.backpack-icon {
  background-image: url('../../Assets/Jewels/circle-socket-amethyst.png');
}

/* Animation Keyframes */
@keyframes glowYellow {
  from {
    -webkit-filter: drop-shadow(0 0 0px #a3a314);
  }
  to {
    -webkit-filter: drop-shadow(0 0 5px #a3a314);
  }
}

@keyframes glowPurple {
  from {
    -webkit-filter: drop-shadow(0 0 0px #D45CF5);
  }
  to {
    -webkit-filter: drop-shadow(0 0 5px #D45CF5);
  }
}

@keyframes glowRed {
  from {
    -webkit-filter: drop-shadow(0 0 0px #FF3F40);
  }
  to {
    -webkit-filter: drop-shadow(0 0 4px #FF3F40);
  }
}

@keyframes glowBlue {
  from {
    -webkit-filter: drop-shadow(0 0 0px #2889FF);
  }
  to {
    -webkit-filter: drop-shadow(0 0 4px #2889FF);
  }
}

@keyframes glowGreen {
  from {
    -webkit-filter: drop-shadow(0 0 0px #39E42E);
  }
  to {
    -webkit-filter: drop-shadow(0 0 4px #39E42E);
  }
}