/* Gear Search Component */
#blacksmith-gear-search {
  width: 340px;
  height: 500px;
}

/* Search Bar */
#blacksmith-gear-search-bar-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 11px;
  margin-bottom: 5px;
}

/* Filter Drop Down Menu */
#blacksmith-gear-search-display {
  z-index: 4;
  position: absolute;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 15.8px;
  cursor: url('../../../Assets/cursor-target-small.png'), auto;
}

#blacksmith-gear-search-dropdown-section {
  display: none;
  cursor: url('../../../Assets/cursor-target-small.png'), auto;
  position: absolute;
  z-index: 3;
  border: 1px solid #A69F1A;
  height: 249px;
  width: 32px;
  margin-left: 14.8px;
  margin-top: -0.5px;
  padding-top: 32px;
  background-color: #42111e;
  border-radius: 15px;
}

.display-visible {
  display: block !important;
}

.blacksmith-gear-dropdown-icon {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Custom Classes for different gear options */
.active-gear-all {
  background-image: url('../../../Assets/spiral-icon.png');
}

.active-gear-hat {
  background-image: url('../../../Assets/hat-icon.png');
}

.active-gear-amulet {
  background-image: url('../../../Assets/amulet-icon.png');
}

.active-gear-robe {
  background-image: url('../../../Assets/robe-icon.png');
}

.active-gear-deck {
  background-image: url('../../../Assets/deck-icon.png');
}

.active-gear-wand {
  background-image: url('../../../Assets/wand-icon.png');
}

.active-gear-athame {
  background-image: url('../../../Assets/athame-icon.png');
}

.active-gear-boots {
  background-image: url('../../../Assets/boots-icon.png');
}

.active-gear-ring {
  background-image: url('../../../Assets/ring-icon.png');
}

/* Search bar Input */
#blacksmith-gear-search-input-bar {
  background-color: #42111e;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  width: 220px;
  height: 30px;
  margin-left: 16px;
  margin-bottom: 15px;
  padding-left: 35px;
  cursor: url('../../../Assets/cursor-small.png'), auto;
  caret-color: #a3a314;;
  color: #a3a314;;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: var(--text-font-size);
  text-transform: uppercase;
  font-weight: 1000;
}

#blacksmith-gear-search-input-bar:focus {
  outline: none;
}

#blacksmith-gear-search-input-bar::placeholder {
  color: black;
}

/* Search Query Button */
#blacksmith-gear-search-go-button {
  background-color: #42111e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  margin-top: 0px;
}

#blacksmith-gear-search-go-button:hover {
  transform: scale(1.10);
}

#blacksmith-gear-search-go-button:active {
  transform: scale(1.0);
  filter: brightness(120%);
}

#blacksmith-gear-search-go-arrow {
  width: 30px;
  height: 25px;
  margin-left: 2px;
  margin-top: 4px;
}

/* CSS Lines for the search bar border */
#search-line-1 {
  left: 0;
  top: 0;
  margin-top: -5px;
  margin-left: 6px;
  width: 275px;
}

#search-line-2 {
  left: 0;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 6px;
  width: 275px;
}

#search-line-3 {
  left: 0;
  top: 0;
  margin-top: 12.5px;
  rotate: 90deg;
  margin-left: -11px;
  width: 41px;
  object-fit: none;
}

#search-line-4 {
  right: 0;
  top: 0;
  margin-top: 12.5px;
  rotate: 90deg;
  margin-right: 40px;
  width: 41px;
  object-fit: none;
}

/* Item List */
#blacksmith-gear-search-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 100%;
}

/* Search Placeholder */
.blacksmith-gear-search-item-placeholder {
  width: 100%;
  height: 40px;
  background-image: url('../../../Assets/slot-gear-banner.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Moving Buttons */
#blacksmith-gear-search-move-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.blacksmith-gear-search-move-button {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.blacksmith-gear-search-move-button:hover {
  transform: scale(1.10);
}

.blacksmith-gear-search-move-button:active {
  transform: scale(1.0);
  filter: brightness(120%);
}

#blacksmith-gear-search-backwards {
  background-image: url('../../../Assets/back-icon.png');
  margin-left: 10px;
}

#blacksmith-gear-search-forward {
  background-image: url('../../../Assets/forward-icon.png');
  margin-right: 10px;
}